.DisplayScreen {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #c4c4c4;
  mix-blend-mode: hard-light;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.currentEquation {
  margin-bottom: 1rem;
  justify-self: flex-end;
}

.currentResult {
  justify-self: flex-end;
}
